#dash-wrapper {
    padding-top: 2%;
}

#dash-card {
    width: 75%;
}

.search-container {
    width: 75%;
}

.dash-button > span {
    position: absolute;
    right: 25px;
    font-size: 18pt;
}

.users-field {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user-card {
    background-color: #fff;
    box-shadow: 0 0 10px var(--shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 40px;
    border-radius: 20px;
    width: 20%;
    margin: 20px;
    text-align: center;
}

.user-info > p, .user-info > h2 {
    margin: 0;
}

.user-button {
    margin-bottom: 0;
}

@media only screen and (max-width: 950px) {
    .user-card {
        width: 85%;
    }

    .search-container {
        width: 100%;
    }

    #dash-card {
        width: 90%;
    }
}

@media only screen and (max-width: 600px) {
    .user-card {
        width: 90%;
    }

    .search-container {
        width: 100%;
    }

    #dash-card {
        width: 95%;
    }

    #dash-wrapper {
        padding-top: 40px;
    }
}