.login-wrapper {
    width: 100vw;
    height: 100vh;
    background: var(--gradient);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    background-color: #fff;
    box-shadow: 0 0 10px var(--shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 40px;
    border-radius: 20px;
    width: 25%;
}

.login-card > h1 {
    color: var(--color1);
    font-size: 44px;
    text-align: center;
    margin: 0;
    font-weight: 600;
}

.login-card > h5 {
    color: var(--color1);
    font-size: 18px;
    font-weight: 200;
}

.login-card > form {
    width: 100%;
    margin: 15px;
}

.text-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 15px 0px;
}

.text-field > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 5px 15px var(--shadow);
    background-color: var(--background1);
    margin-bottom: 10px;
}

.text-field > input::placeholder {
    font-weight: 550;
    font-size: 12.5pt;
}

form > button {
    width: 100%;
    padding: 10px 25px;
    box-shadow: 0px 12.5px 15px var(--shadow);
    border: none;
    border-radius: 6px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 550;
    font-size: 16pt;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: 0.7s;
    background-color: var(--color1);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 15px;
    margin-bottom: 12px;
}

form > button > span {
    color: #fff;
    display: flex;
    align-items: center;
    position: absolute;
    right: 5%;
    font-size: 25pt;
}

h5 > a {
    font-weight: 400;
}

.divider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--color2);
    font-size: 12pt;
    margin: 22px;
}

.divider::before, .divider::after {
    content: '';
    flex: 1;
    height: 1.2px;
    background-color: #d1d5db;
}

.divider span {
    margin: 0 12px;
    white-space: nowrap;
}

.google {
    width: 100%;
    padding: 10px 25px;
    box-shadow: 0px 5px 15px var(--shadow);
    border: none;
    border-radius: 6px;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 16pt;
    color: var(--color1);
    outline: none;
    cursor: pointer;
    transition: 0.7s;
    background-color: var(--background1);
    margin-top: 7px;
    margin-bottom: 10px;

    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 12px;
}

.google > span {
    display: flex;
    align-items: center;
    font-size: 27pt;
}

@media only screen and (max-width: 950px) {
    .login-card {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .login-card {
        width: 90%;
    }
}