button {
    width: 100%;
    padding: 10px 25px;
    box-shadow: 0px 12.5px 15px var(--shadow);
    border: none;
    border-radius: 6px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 550;
    font-size: 16pt;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: 0.7s;
    background-color: var(--color1);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-top: 15px;
    margin-bottom: 12px;
}

button span {
    color: #fff;
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 25pt;
}

button .icon-left {
    left: 5%;
}

button .icon-right {
    right: 5%;
}

@media only screen and (max-width: 600px) {
    button {
        font-size: 20px;
    }
    button span {
        font-size: 22px;
    }
}