.nav-wrapper {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6vh;
    width: 100%;
}

.nav-right, .nav-left {
    display: flex;
}

.nav-wrapper a {
    margin: 15px;
    color: var(--color1);
    font-size: 16pt;
}

.nav-wrapper a:hover {
    transform: scale(1.1);
    text-decoration: none;
    transition: .2s;
}